**

!.dockerignore
!go.mod
!go.sum

!cmd/
!cmd/**
!internal/
!internal/**

!configs/
!configs/cheesewaf.yaml

!web/
!web/package.json
!web/package-lock.json
!web/index.html
!web/tsconfig.json
!web/tsconfig.app.json
!web/tsconfig.node.json
!web/vite.config.ts
!web/vite.proxy.ts
!web/public/
!web/public/**
!web/scripts/
!web/scripts/**
!web/src/
!web/src/**

!deploy/
!deploy/docker/
!deploy/docker/Dockerfile
!deploy/docker/entrypoint.sh
